*{

    box-sizing: border-box;
}
body{

    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange {
    color: orange;
}
section{
    display: flex;
}
.half-width1{
    width:50%;
    padding-left: 2%;
}
.half-width1 p{
    color: #666666;
    text-align: justify;
}
.half-width2{
    width:50%
}
.half-width2 img{
    max-width: 90%;
}
.link-btn{
    
}