*{

    box-sizing: border-box;
}
body{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Top-banner */
.top-banner h1{
    font-size: 50px;
}
.middle-banner h2{
    font-size: 40px;
}
.orange {
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.top-banner{
    background: url(img/top-banner.png) no-repeat;

}
.half-width1{
    width:50%;
    padding-left: 2%;
}
.dream p{
    color: #666666;
    text-align: justify;
}
.half-width2{
    width:50%
}
.half-width2 img{
    max-width: 90%;
}
.link-btn{
    display: inline-inline;
    padding:10px 40px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    font-weight: 700;
    transition: 0.5s all;
    
}
.link-btn:hover{
    color: #000;
}

/* middle-banner */
.middle-banner{
    
    background:url(img/dream-bg.png) no-repeat;
    background-position: right 60%;
}
/* experience-section */
.experience {
    background: url(img/exp-bg.png) no-repeat;
    background-position: left 60%;
}
.experience h1{
    font-size: 40px;

}
.exp-h3-color{
    color:orange
}
.experience-child {
    width: 45%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey;
    padding-left: 1%;
    padding-bottom: 1%;
    border-radius:10px;
}
.border1{
    border-left: 7px solid ;
    border-image: linear-gradient(#FA705B, #FA705B);
    border-image-slice: 1;
}
.border2{
    border-left: 7px solid ;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}

/* footer */
footer p{
    text-align: center;
    color: #666;
}